/* You can add global styles to this file, and also import other style files */
.main-scene {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//$aspectRatio: "1/1";
$aspectRatio: "16/9";
//$aspectRatio: "4/3";
//$aspectRatio: "9/16";

.main-scene canvas {
  --aspect-ratio: calc(#{$aspectRatio});
  //padding: 40px;
  overflow: auto;
  outline: none;
}

@media (max-aspect-ratio: #{$aspectRatio}) {
  .main-scene canvas {
    width: calc(100vw);
    height: calc((100vw / var(--aspect-ratio)));
  }
}

@media (min-aspect-ratio: #{$aspectRatio}) {
  .main-scene canvas {
    width: calc((100vh * var(--aspect-ratio)));
    height: calc(100vh);
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  margin: 16px;
  background: rgba($color: #ffffff, $alpha: 0.2);
  opacity: 0.85;
  font-weight: bold;
  padding: 8px;
}

.info div {
  margin: 4px;
}

.inspector {
  position: absolute;
  right: 0px;
  width: auto;
  height: 100%;
  opacity: 0.8;
}

.loading-fade-out {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.loading-fade-in {
  animation: fade-in 0.75s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
